body {
    margin: auto;
    font-family: 'Helvetica', 'Verdana', sans-serif;
}
.flash {
    background-color: whitesmoke;
    border: 1px solid gray;
    border-radius: 10px;
    color: black;
    width: fit-content;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
}
.input {
    margin: 10px;
}
.input.text-medium {
    width: 200px;
}
.input.text-small {
    width: 150px;
}
.radio-button-group {
    display: flex;
    align-items: center;
    justify-content: center;
}
.radio-button {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
