body {
    background-attachment: fixed;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-family: 'Helvetica', 'Verdana', sans-serif;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 160px;
}
textarea { 
    max-height: 300px;
    min-height: 30px;
    resize: vertical;
}
.content {
    background-color: whitesmoke;
    border: 1px solid gray;
    border-radius: 10px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
}
.content.user {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 25vw;
    margin-right: 25vw;
}
.content.flash {
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    width: fit-content;
}
.content.form {
    align-items: "center";
    justify-content: "center";
    margin: 10px;
    min-width: 300px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    width: fit-content;
}
.flex-fill {
    display: flex;
    justify-content: space-between;
}
.header {
    background-color: #FAFAFA;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.inlined {
    display: inline-block;
}
.input {
    margin: 10px;
}
.input.active {
    font-weight: bold;
}
.input.text-medium {
    width: 200px;
}
.input.text-small {
    width: 150px;
}
.nav-bar {
    background-color: #444444;
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
    padding: 20px;
    min-width: 700px;
}
.nav-bar-button {
    display: inline-block;
}
.nav-bar-button a {
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}
.nav-bar-button a:hover {
    background-color: #222222;
}
.nav-bar-button-active {
    background-color: #222222;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}
.radio-button-group {
    display: flex;
    align-items: center;
    justify-content: center;
}
.radio-button {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
