body {
    background-attachment: fixed;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-family: 'Helvetica', 'Verdana', sans-serif;
    margin: auto;
}
textarea { 
    max-height: 300px;
    min-height: 30px;
    resize: vertical;
}
.content {
    background-color: whitesmoke;
    border: 1px solid gray;
    border-radius: 10px;
    color: black;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
}
.flash {
    background-color: whitesmoke;
    border: 1px solid gray;
    border-radius: 10px;
    color: black;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    width: fit-content;
}
.form {
    align-items: "center";
    background-color: whitesmoke;
    border: 1px solid gray;
    border-radius: 10px;
    color: black;
    justify-content: "center";
    margin: 10px;
    min-width: 300px;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    width: fit-content;
}
.input {
    margin: 10px;
}
.input.text-medium {
    width: 200px;
}
.input.text-small {
    width: 150px;
}
.radio-button-group {
    display: flex;
    align-items: center;
    justify-content: center;
}
.radio-button {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
