<!doctype html>

{% extends "layout.html" %}

{% block content %}

<h2>Lisää ilmoitus</h2>

<form action="{{ session.referrer }}">
    <input class="input" type="submit" value="⬅️  Selaa ilmoituksia">
</form>

<div class="content form">
    <br>
    Onko kaivonkansi kipittänyt karkuteille tai puistosta pöllitty penkki?
    <br>
    Kerro epäkohdista meille, niin korjaamme asian pikimmiten!
    <br>
    <br>
    <br>
    <form action="/add_notice" method="post">
        <label for="title">Otsikko</label>
        <br>
        <textarea class="input" id="title" name="title" rows="3" cols="80" minlength="1" maxlength="100">{{ title }}</textarea>
        <br>
        <br>
        <label for="body">Lisätiedot</label>
        <div class="caption">(vapaaehtoinen)</div>
        <textarea class="input" id="body" name="body" rows="6" cols="80" maxlength="1000">{{ body }}</textarea>
        <br>
        <br>
        <div class="inlined">
            <label for="street_address">Katuosoite</label>
            <div class="caption">(vapaaehtoinen)</div>
            <input class="input text" type="text" id="street_address" name="street_address" maxlength="100" value="{{ street_address }}">
        </div>
        <div class="inlined spacer horizontal"></div>
        <div class="inlined">
            <label for="zip_code">Postinumero</label>
            <div class="caption">(vapaaehtoinen)</div>
            <input class="input text" type="number" id="zip_code" name="zip_code" maxlength="5" value="{{ zip_code }}">
        </div>
        <br>
        <br>
        <input class="input" type="submit" value="&#128190;  Lähetä">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
</div>

{% endblock %}
