<!doctype html>

{% extends "layout.html" %}

{% block content %}

<h2>Lisää uutinen</h2>

<form action="/browse_news">
    <input class="input" type="submit" value="⬅️  Selaa uutisia">
</form>

{% if session.admin %}
    <div class="content form">
        <form action="/add_news" method="post">
            <br>
            <label for="title">Otsikko</label>
            <br>
            <textarea class="input" id="title" name="title" rows="3" cols="80" minlength="1" maxlength="100">{{ title }}</textarea>
            <br>
            <br>
            <label for="body">Lisätiedot</label>
            <div class="caption">(vapaaehtoinen)</div>
            <textarea class="input" id="body" name="body" rows="6" cols="80" maxlength="1000">{{ body }}</textarea>
            <br>
            <br>
            <div class="inlined">
                <label for="zip_code">Postinumero</label>
                <div class="caption">(vapaaehtoinen)</div>
                <input class="input text" type="number" id="zip_code" name="zip_code" maxlength="5" value="{{ zip_code }}">
            </div>
            <div class="inlined spacer horizontal"></div>
            <div class="inlined">
                <label for="publish_on">Julkaisupäivämäärä</label>
                <br>
                <input class="input text" type="date" id="publish_on" name="publish_on" value="{{ publish_on if publish_on else current_date }}" min="{{ current_date }}">
            </div>
            <br>
            <br>
            <input class="input" type="submit" value="&#128190;  Tallenna">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    </div>
{% endif %}

{% endblock %}
