<!doctype html>

{% extends "layout.html" %}

{% block content %}

<h2>Lisää uutinen</h2>

{% if session.admin %}

<form action="/browse_news">
    <input class="input" type="submit" value="Selaa uutisia" />
</form>

{% endif %}

<div class="content form">
    <form action="/add_news" method="post">
        <label for="title">Otsikko</label>
        <br>
        <textarea class="input" id="title" name="title" rows="3" cols="80" minlength="1" maxlength="100">{{ title }}</textarea>
        <br>

        <br>
        <label for="body">Lisätiedot (vapaaehtoinen)</label>
        <br>
        <textarea class="input" id="body" name="body" rows="6" cols="80" maxlength="1000">{{ body }}</textarea>
        <br>

        <br>
        <label for="zip_code">Mitä postinumeroaluetta uutinen koskee erityisesti? (vapaaehtoinen)</label>
        <br>
        <input class="input text" type="number" id="zip_code" name="zip_code" maxlength="5" value="{{ zip_code }}">
        <br>
        <br>

        <label for="publish_on">Julkaisupäivämäärä</label>
        <br>
        <input class="input text" type="date" id="publish_on" name="publish_on" value="{{ publish_on if publish_on else current_date }}" min="{{ current_date }}">
        <br>
        <br>

        <input type="submit" value="Lähetä">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
</div>

{% endblock %}
