<!doctype html>

{% extends "layout.html" %}

{% block content %}

<h2>Lisää kysely</h2>

<!--
    TODO:
    - only for admins
    - inputs:
        - question (required, string)
        - zip code (optional, number)
        - open on (required, date)
        - close on (optional, date)
    - save also:
        - created at (required, timestamp)
        - creator username (required, string)
-->

<form action="/browse_polls">
    <input class="input" type="submit" value="Takaisin" />
</form>

{% endblock %}
