<!doctype html>

{% extends "layout_with_flashes.html" %}

{% block content %}

<h2>Selaa uutisia</h2>

<form class="inlined" action="/browse_news/nearby">
    {% if request.path == "/browse_news/nearby" %}
    <input class="input active" type="submit" value="Lähistölläni" />
    {% else %}
    <input class="input" type="submit" value="Lähistölläni" />
    {% endif %}
</form>

{% if session.is_admin %}

<form class="inlined" action="/browse_news">
    {% if request.path == "/browse_news" %}
    <input class="input active" type="submit" value="Näkyvät" />
    {% else %}
    <input class="input" type="submit" value="Näkyvät" />
    {% endif %}
</form>

<form class="inlined" action="/browse_news/upcoming">
    {% if request.path == "/browse_news/upcoming" %}
    <input class="input active" type="submit" value="Tulevat" />
    {% else %}
    <input class="input" type="submit" value="Tulevat" />
    {% endif %}
</form>

<form class="inlined" action="/browse_news/archived">
    {% if request.path == "/browse_news/archived" %}
    <input class="input active" type="submit" value="Arkistoidut" />
    {% else %}
    <input class="input" type="submit" value="Arkistoidut" />
    {% endif %}
</form>

<form class="inlined" action="/add_news">
    <input class="input" type="submit" value="Lisää uutinen" />
</form>

{% endif %}

{% if news|length == 0 %}

<div class="content flash">
    {% if request.path == "/browse_news/nearby" %}
    {{
        'Täytä profiiliisi postinumero nähdäksesi lähistöäsi koskevia uutisia'
        if not session.zip_code
        else 'Ei lähistöäsi koskevia uutisia'
    }}
    {% elif request.path == "/browse_news/archived" %}
    Ei arkistoituja uutisia
    {% elif request.path == "/browse_news/upcoming" %}
    Ei tulossa olevia uutisia
    {% else %}
    Ei uutisia
    {% endif %}
</div>

{% else %}

{% for item in news %}
    <div class="content">
        <h3>{{ item.title }}</h3>

        <hr>

        <div class="inlined">
            {{ item.publish_on.strftime("%d.%m.%Y") }}
        </div>

        {% if session.is_admin %}

        <form
            class="inlined"
            action="/{{ 'unarchive_news' if item.archived_at else 'archive_news' }}/{{ item.id }}"
            method="post"
        >
            <input
                class="input"
                type="submit"
                value="{{ 'Peru arkistointi' if item.archived_at else 'Arkistoi' }}"
            >
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
        {% endif %}

        <form class="inlined" action="/browse_news/details/{{ item.id }}" method="post">
            <input class="input" type="submit" value="Lue lisää">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>

    </div>
{% endfor %}

{% endif %}

{% endblock %}
