<!doctype html>

{% extends "layout.html" %}

{% block content %}

<h2>Selaa kyselyitä</h2>

{% if session.is_admin %}

<form action="/add_poll">
    <input class="input" type="submit" value="Lisää kysely" />
</form>

{% endif %}

{% for poll in polls %}
    <div class="content">
        <h3>{{ poll.title }}</h3>
        <p>{{ poll.zip_code if poll.zip_code else "" }}</p>
        <hr>
        <p>Äänestysaika: {{ poll.open_on }} – {{ poll.close_on }}</p>

        {% if session.is_admin %}
        <hr>
        <p>{{ poll.created_by }} @ {{ poll.created_at.strftime("%d.%m.%Y %H:%M:%S") }}</p>
        {% endif %}
    </div>
{% endfor %}

{% endblock %}
