<!doctype html>

{% extends "layout.html" %}

{% block content %}

<h2>Selaa ilmoituksia</h2>

<form class="inlined" action="/browse_notices/nearby">
    <input
        class="input {{ 'active' if request.path == '/browse_notices/nearby' else '' }}"
        type="submit" value="Lähistölläni"
    >
</form>
<form class="inlined" action="/browse_notices">
    <input
        class="input {{ 'active' if request.path == '/browse_notices' else '' }}"
        type="submit" value="Kaikki"
    >
</form>
<form class="inlined" action="/browse_notices/my">
    <input
        class="input {{ 'active' if request.path == '/browse_notices/my' else '' }}"
        type="submit" value="Omat"
    >
</form>

{% if session.admin %}
    <form class="inlined" action="/browse_notices/archived">
        <input
            class="input {{ 'active' if request.path == '/browse_notices/archived' else '' }}"
            type="submit" value="Arkistoidut"
        >
    </form>
{% endif %}

<form class="inlined" action="/add_notice">
    <input class="input" type="submit" value="Lisää ilmoitus">
</form>

{% if notices|length == 0 %}
    <div class="content flash">
        {% if request.path == "/browse_notices/nearby" %}
            {{
                'Täytä profiiliisi postinumero nähdäksesi lähistöäsi koskevia ilmoituksia'
                if not session.zip_code
                else 'Ei lähistöäsi koskevia ilmoituksia'
            }}
        {% elif request.path == "/browse_notices/my" %}
            Ei omia ilmoituksia
        {% elif request.path == "/browse_notices/archived" %}
            Ei arkistoituja ilmoituksia
        {% else %}
            Ei ilmoituksia
        {% endif %}
    </div>
{% else %}
    {% for notice in notices %}
        <div class="content">
            <h3>{{ notice.title }}</h3>

            {% if notice.zip_code %}
                <div class="flex-fill text">
                    {{ notice.zip_code }}
                </div>
            {% endif %}

            <hr>
            <div class="flex-fill">
                <div>
                    {{ notice.created_at.strftime("%d.%m.%Y") }}
                </div>
                <div>
                    {% if session.admin %}
                        <form
                            class="inlined" method="post"
                            action="/{{ 'un' if notice.archived_at else '' }}archive_notice/{{ notice.id }}"
                        >
                            <input
                                class="input" type="submit"
                                value="{{ 'Peru arkistointi' if notice.archived_at else 'Arkistoi' }}"
                            >
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        </form>
                    {% endif %}

                    <form class="inlined" action="/browse_notices/details/{{ notice.id }}" method="post">
                        <input class="input" type="submit" value="Lue lisää">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}

{% endblock %}
