<!doctype html>

{% extends "layout.html" %}

{% block content %}

<h2>Selaa palautteita</h2>

<!--
    TODO:
    - allow marking as 'acknowledged' (timestamp + user_id)
    - allow marking as 'archived' (timestamp + user_id))
-->

<form style="display: inline-block;" action="/browse_feedback">
    {% if request.path == "/browse_feedback" %}
    <input class="input active" type="submit" value="Kaikki" />
    {% else %}
    <input class="input" type="submit" value="Kaikki" />
    {% endif %}
</form>

<form style="display: inline-block;" action="/browse_feedback/acknowledged">
    {% if request.path == "/browse_feedback/acknowledged" %}
    <input class="input active" type="submit" value="Huomioidut" />
    {% else %}
    <input class="input" type="submit" value="Huomioidut" />
    {% endif %}
</form>

{% if session.is_admin %}

<form style="display: inline-block;" action="/browse_feedback/archived">
    {% if request.path == "/browse_feedback/archived" %}
    <input class="input active" type="submit" value="Arkistoidut" />
    {% else %}
    <input class="input" type="submit" value="Arkistoidut" />
    {% endif %}
</form>

{% endif %}

<form style="display: inline-block;" action="/give_feedback">
    <input class="input" type="submit" value="Anna palautetta" />
</form>

{% if feedbacks|length == 0 %}

<div class="content flash">
    {% if request.path == "/browse_feedback/acknowledged" %}
    Ei huomioituja palautteita
    {% elif request.path == "/browse_feedback/archived" %}
    Ei arkistoituja palautteita
    {% else %}
    Ei palautteita
    {% endif %}
</div>

{% else %}

{% for feedback in feedbacks %}
    <div class="content">
        <h3>{{ feedback.title }}</h3>
        <p>{{ feedback.body }}</p>
        <hr>
        <p>{{ feedback.sent_by }} @ {{ feedback.sent_at.strftime("%d.%m.%Y %H:%M:%S") }}</p>
    </div>
{% endfor %}

{% endif %}

{% endblock %}
