<!doctype html>

{% extends "layout.html" %}

{% block content %}

<h2>Selaa kyselyitä</h2>

<form class="inlined" action="/browse_polls/nearby">
    <input
        class="input {{ 'active' if request.path == '/browse_polls/nearby' else ''}}"
        type="submit" value="&#127968;  Lähistölläni"
    >
</form>
<form class="inlined" action="/browse_polls">
    <input
        class="input {{ 'active' if request.path == '/browse_polls' else ''}}"
        type="submit" value="&#8987;  Käynnissä"
    >
</form>
<form class="inlined" action="/browse_polls/upcoming">
    <input
        class="input {{ 'active' if request.path == '/browse_polls/upcoming' else ''}}"
        type="submit" value="&#128337;  Tulevat"
    >
</form>
<form class="inlined" action="/browse_polls/past">
    <input
        class="input {{ 'active' if request.path == '/browse_polls/past' else ''}}"
        type="submit" value="&#128345;  Menneet"
    >
</form>

{% if session.admin %}
    <form class="inlined" action="/browse_polls/archived">
        <input
            class="input {{ 'active' if request.path == '/browse_polls/archived' else ''}}"
            type="submit" value="&#128193;  Arkistoidut"
        >
    </form>
    <form class="inlined" action="/add_poll">
        <input class="input" type="submit" value="&#10133;  Lisää kysely">
    </form>
{% endif %}

{% if polls|length == 0 %}
    <div class="content flash">
        {% if request.path == "/browse_polls/nearby" %}
            {{
                'Täytä profiiliisi postinumero nähdäksesi lähistöäsi koskevia kyselyitä'
                if not session.zip_code
                else 'Ei lähistöäsi koskevia kyselyitä'
            }}
        {% elif request.path == "/browse_polls" %}
            Ei käynnissä olevia kyselyitä
        {% elif request.path == "/browse_polls/upcoming" %}
            Ei tulevia kyselyitä
        {% elif request.path == "/browse_polls/past" %}
            Ei menneitä kyselyitä
        {% elif request.path == "/browse_polls/archived" %}
            Ei arkistoituja kyselyitä
        {% else %}
            Ei kyselyitä
        {% endif %}
    </div>
{% else %}
    <div class="input">
        <div class="caption input">
            Yhteensä {{ count }} {{ 'kysely' if count == 1 else 'kyselyä' }}
        </div>
        <form class="inlined" action="{{ request.path }}">
            {% if idx == 0 %}
                <input class="input" type="submit" value="&#9194;  Edelliset" disabled>
            {% else %}
                <input class="input" type="submit" value="&#9194;  Edelliset 10">
            {% endif %}
            <input type="hidden" name="idx" value="{{ idx - 1 }}">
        </form>

        {% if page_numbers not in [0, 1] %}
            <div class="dropdown">
                <input class="input" type="submit" value="⬇️  Siirry sivulle  ⬇️">
                <div class="dropdown-content">
                    {% for page_number in page_numbers %}
                        <form action="{{ request.path }}">
                            {% if page_number == idx + 1 %}
                            <input type="submit" value="{{ page_number }}" disabled>
                            {% else %}
                            <input type="submit" value="{{ page_number }}">
                            {% endif %}
                            <input type="hidden" name="username" value="{{ user_input }}">
                            <input type="hidden" name="idx" value="{{ page_number - 1 }}">
                        </form>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <form class="inlined" action="{{ request.path }}">
            {% if idx == last_idx %}
                <input class="input" type="submit" value="Seuraavat  &#9193;" disabled>
            {% else %}
                <input class="input" type="submit" value="Seuraavat {{ count_on_next_idx }}  &#9193;">
            {% endif %}
            <input type="hidden" name="idx" value="{{ idx + 1 }}">
        </form>
    </div>

    {% for poll in polls %}
        <div class="content">
            <h3>{{ poll.title }}</h3>
            <hr>
            <div class="flex-fill">
                <div>
                    Äänestysaika: {{ poll.open_on.strftime("%d.%m.%Y") }} – {{ poll.close_on.strftime("%d.%m.%Y") }}
                </div>
                <div>
                    {% if session.admin %}
                        <form
                            class="inlined" method="post"
                            action="/{{ 'un' if poll.archived_at else '' }}archive_poll/{{ poll.id }}"
                        >
                            <input
                                class="input" type="submit"
                                value="&#128193;  {{ 'Peru arkistointi' if poll.archived_at else 'Arkistoi' }}"
                            >
                            <input type="hidden" name="referrer" value="{{ request.path }}">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        </form>
                    {% endif %}

                    <form class="inlined" action="/browse_polls/details/{{ poll.id }}">
                        <input class="input" type="submit" value="&#128269;  Lue lisää">
                        <input type="hidden" name="referrer" value="{{ request.path }}">
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if notices|length not in [0, 1, 2, 3] %}
        <div>
            <form class="inlined" action="{{ request.path }}">
                {% if idx == 0 %}
                    <input class="input" type="submit" value="&#9194;  Edelliset" disabled>
                {% else %}
                    <input class="input" type="submit" value="&#9194;  Edelliset 10">
                {% endif %}
                <input type="hidden" name="idx" value="{{ idx - 1 }}">
            </form>

            {% if page_numbers not in [0, 1] %}
                <div class="dropdown">
                    <input class="input" type="submit" value="⬇️  Siirry sivulle  ⬇️">
                    <div class="dropdown-content">
                        {% for page_number in page_numbers %}
                            <form action="{{ request.path }}">
                                {% if page_number == idx + 1 %}
                                <input type="submit" value="{{ page_number }}" disabled>
                                {% else %}
                                <input type="submit" value="{{ page_number }}">
                                {% endif %}
                                <input type="hidden" name="username" value="{{ user_input }}">
                                <input type="hidden" name="idx" value="{{ page_number - 1 }}">
                            </form>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <form class="inlined" action="{{ request.path }}">
                {% if idx == last_idx %}
                    <input class="input" type="submit" value="Seuraavat  &#9193;" disabled>
                {% else %}
                    <input class="input" type="submit" value="Seuraavat {{ count_on_next_idx }}  &#9193;">
                {% endif %}
                <input type="hidden" name="idx" value="{{ idx + 1 }}">
            </form>
        </div>
    {% endif %}
{% endif %}

{% endblock %}
