<!doctype html>

{% extends "layout.html" %}

{% block content %}

<h2>Selaa ilmoituksia</h2>

<form class="inlined" action="/browse_notices/nearby">
    <input
        class="input {{ 'active' if request.path == '/browse_notices/nearby' else '' }}"
        type="submit" value="&#127968;  Lähistölläni"
    >
</form>
<form class="inlined" action="/browse_notices">
    <input
        class="input {{ 'active' if request.path == '/browse_notices' else '' }}"
        type="submit" value="&#127775;  Kaikki"
    >
</form>
<form class="inlined" action="/browse_notices/my">
    <input
        class="input {{ 'active' if request.path == '/browse_notices/my' else '' }}"
        type="submit" value="&#128100;  Omat"
    >
</form>

{% if session.admin %}
    <form class="inlined" action="/browse_notices/archived">
        <input
            class="input {{ 'active' if request.path == '/browse_notices/archived' else '' }}"
            type="submit" value="&#128193;  Arkistoidut"
        >
    </form>
{% endif %}

<form class="inlined" action="/add_notice">
    <input class="input" type="submit" value="&#10133;  Lisää ilmoitus">
</form>

{% if notices|length == 0 %}
    <div class="content flash">
        {% if request.path == "/browse_notices/nearby" %}
            {{
                'Täytä profiiliisi postinumero nähdäksesi lähistöäsi koskevia ilmoituksia'
                if not session.zip_code
                else 'Ei lähistöäsi koskevia ilmoituksia'
            }}
        {% elif request.path == "/browse_notices/my" %}
            Ei omia ilmoituksia
        {% elif request.path == "/browse_notices/archived" %}
            Ei arkistoituja ilmoituksia
        {% else %}
            Ei ilmoituksia
        {% endif %}
    </div>
{% else %}
    <div class="input">
        <div class="caption input">
            Yhteensä {{ count }} {{ 'ilmoitus' if count == 1 else 'ilmoitusta' }}
        </div>
        <form class="inlined" action="{{ request.path }}">
            {% if idx == 0 %}
                <input class="input" type="submit" value="&#9194;  Edelliset" disabled>
            {% else %}
                <input class="input" type="submit" value="&#9194;  Edelliset 10">
            {% endif %}
            <input type="hidden" name="idx" value="{{ idx - 1 }}">
        </form>

        {% if page_numbers not in [0, 1] %}
            <div class="dropdown">
                <input class="input" type="submit" value="⬇️  Siirry sivulle  ⬇️">
                <div class="dropdown-content">
                    {% for page_number in page_numbers %}
                        <form action="{{ request.path }}">
                            {% if page_number == idx + 1 %}
                            <input type="submit" value="{{ page_number }}" disabled>
                            {% else %}
                            <input type="submit" value="{{ page_number }}">
                            {% endif %}
                            <input type="hidden" name="username" value="{{ user_input }}">
                            <input type="hidden" name="idx" value="{{ page_number - 1 }}">
                        </form>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <form class="inlined" action="{{ request.path }}">
            {% if idx == last_idx %}
                <input class="input" type="submit" value="Seuraavat  &#9193;" disabled>
            {% else %}
                <input class="input" type="submit" value="Seuraavat {{ count_on_next_idx }}  &#9193;">
            {% endif %}
            <input type="hidden" name="idx" value="{{ idx + 1 }}">
        </form>
    </div>

    {% for notice in notices %}
        <div class="content">
            <h3>{{ notice.title }}</h3>

            {% if notice.zip_code %}
                <div class="flex-fill text">
                    {{ notice.zip_code }}
                </div>
            {% endif %}

            <hr>
            <div class="flex-fill">
                <div>
                    {{ notice.created_at.strftime("%d.%m.%Y") }}
                </div>
                <div>
                    {% if session.admin %}
                        <form
                            class="inlined" method="post"
                            action="/{{ 'un' if notice.archived_at else '' }}archive_notice/{{ notice.id }}"
                        >
                            <input
                                class="input" type="submit"
                                value="&#128193;  {{ 'Peru arkistointi' if notice.archived_at else 'Arkistoi' }}"
                            >
                            <input type="hidden" name="referrer" value="{{ request.path }}">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        </form>
                    {% endif %}

                    <form class="inlined" action="/browse_notices/details/{{ notice.id }}" method="post">
                        <input class="input" type="submit" value="&#128269;  Lue lisää">
                        <input type="hidden" name="referrer" value="{{ request.path }}">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if notices|length not in [0, 1, 2, 3] %}
        <div>
            <form class="inlined" action="{{ request.path }}">
                {% if idx == 0 %}
                    <input class="input" type="submit" value="&#9194;  Edelliset" disabled>
                {% else %}
                    <input class="input" type="submit" value="&#9194;  Edelliset 10">
                {% endif %}
                <input type="hidden" name="idx" value="{{ idx - 1 }}">
            </form>

            {% if page_numbers not in [0, 1] %}
                <div class="dropdown">
                    <input class="input" type="submit" value="⬇️  Siirry sivulle  ⬇️">
                    <div class="dropdown-content">
                        {% for page_number in page_numbers %}
                            <form action="{{ request.path }}">
                                {% if page_number == idx + 1 %}
                                <input type="submit" value="{{ page_number }}" disabled>
                                {% else %}
                                <input type="submit" value="{{ page_number }}">
                                {% endif %}
                                <input type="hidden" name="username" value="{{ user_input }}">
                                <input type="hidden" name="idx" value="{{ page_number - 1 }}">
                            </form>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <form class="inlined" action="{{ request.path }}">
                {% if idx == last_idx %}
                    <input class="input" type="submit" value="Seuraavat  &#9193;" disabled>
                {% else %}
                    <input class="input" type="submit" value="Seuraavat {{ count_on_next_idx }}  &#9193;">
                {% endif %}
                <input type="hidden" name="idx" value="{{ idx + 1 }}">
            </form>
        </div>
    {% endif %}
{% endif %}

{% endblock %}
