<!doctype html>

{% extends "layout.html" %}

{% block content %}

<h2>Selaa uutisia</h2>

<form class="inlined" action="/browse_news/nearby">
    <input
        class="input {{ 'active' if request.path == '/browse_news/nearby' else '' }}"
        type="submit" value="Lähistölläni"
    >
</form>
<form class="inlined" action="/browse_news">
    <input
        class="input {{ 'active' if request.path == '/browse_news' else '' }}"
        type="submit" value="Kaikki"
    >
</form>

{% if session.admin %}
    <form class="inlined" action="/browse_news/upcoming">
        <input
            class="input {{ 'active' if request.path == '/browse_news/upcoming' else '' }}"
            type="submit" value="Tulevat"
        >
    </form>
    <form class="inlined" action="/browse_news/archived">
        <input
            class="input {{ 'active' if request.path == '/browse_news/archived' else '' }}"
            type="submit" value="Arkistoidut"
        >
    </form>
    <form class="inlined" action="/add_news">
        <input class="input" type="submit" value="Lisää uutinen">
    </form>
{% endif %}

{% if news|length == 0 %}
    <div class="content flash">
        {% if request.path == "/browse_news/nearby" %}
            {{
                'Täytä profiiliisi postinumero nähdäksesi lähistöäsi koskevia uutisia'
                if not session.zip_code
                else 'Ei lähistöäsi koskevia uutisia'
            }}
        {% elif request.path == "/browse_news/archived" %}
            Ei arkistoituja uutisia
        {% elif request.path == "/browse_news/upcoming" %}
            Ei tulossa olevia uutisia
        {% else %}
            Ei uutisia
        {% endif %}
    </div>
{% else %}
    {% for item in news %}
        <div class="content">
            <h3>{{ item.title }}</h3>

            <hr>
            <div class="flex-fill">
                <div>
                    {{ item.publish_on.strftime("%d.%m.%Y") }}
                </div>
                <div>
                    {% if session.admin %}
                        <form
                            class="inlined" method="post"
                            action="/{{ 'un' if item.archived_at else '' }}archive_news/{{ item.id }}"
                        >
                            <input
                                class="input" type="submit"
                                value="{{ 'Peru arkistointi' if item.archived_at else 'Arkistoi' }}"
                            >
                            <input type="hidden" name="referrer" value="{{ request.path }}">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        </form>
                    {% endif %}

                    <form class="inlined" action="/browse_news/details/{{ item.id }}" method="post">
                        <input class="input" type="submit" value="Lue lisää">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}

{% endblock %}
