<!doctype html>

{% extends "layout.html" %}

{% block content %}

<h2>Selaa uutisia</h2>

<form class="inlined" action="/browse_news/nearby">
    <input
        class="input {{ 'active' if request.path == '/browse_news/nearby' else '' }}"
        type="submit" value="&#127968;  Lähistölläni"
    >
</form>
<form class="inlined" action="/browse_news">
    <input
        class="input {{ 'active' if request.path == '/browse_news' else '' }}"
        type="submit" value="&#127775;  Kaikki"
    >
</form>

{% if session.admin %}
    <form class="inlined" action="/browse_news/upcoming">
        <input
            class="input {{ 'active' if request.path == '/browse_news/upcoming' else '' }}"
            type="submit" value="&#128337;  Tulevat"
        >
    </form>
    <form class="inlined" action="/browse_news/archived">
        <input
            class="input {{ 'active' if request.path == '/browse_news/archived' else '' }}"
            type="submit" value="&#128193;  Arkistoidut"
        >
    </form>
    <form class="inlined" action="/add_news">
        <input class="input" type="submit" value="&#10133;  Lisää uutinen">
    </form>
{% endif %}

{% if news|length == 0 %}
    <div class="content flash">
        {% if request.path == "/browse_news/nearby" %}
            {{
                'Täytä profiiliisi postinumero nähdäksesi lähistöäsi koskevia uutisia'
                if not session.zip_code
                else 'Ei lähistöäsi koskevia uutisia'
            }}
        {% elif request.path == "/browse_news/archived" %}
            Ei arkistoituja uutisia
        {% elif request.path == "/browse_news/upcoming" %}
            Ei tulossa olevia uutisia
        {% else %}
            Ei uutisia
        {% endif %}
    </div>
{% else %}
    <div class="input">
        <div class="caption input">
            Yhteensä {{ count }} {{ 'uutinen' if count == 1 else 'uutista' }}
        </div>

        {% if page_numbers|length not in [0, 1] %}
            <form class="inlined" action="{{ request.path }}">
                {% if idx == 0 %}
                    <input class="input" type="submit" value="&#9194;  Edelliset" disabled>
                {% else %}
                    <input class="input" type="submit" value="&#9194;  Edelliset 10">
                {% endif %}
                <input type="hidden" name="idx" value="{{ idx - 1 }}">
            </form>

            <div class="dropdown">
                <input class="input" type="submit" value="⬇️  Siirry sivulle  ⬇️">
                <div class="dropdown-content">
                    {% for page_number in page_numbers %}
                        <form action="{{ request.path }}">
                            {% if page_number == idx + 1 %}
                            <input type="submit" value="{{ page_number }}" disabled>
                            {% else %}
                            <input type="submit" value="{{ page_number }}">
                            {% endif %}
                            <input type="hidden" name="username" value="{{ user_input }}">
                            <input type="hidden" name="idx" value="{{ page_number - 1 }}">
                        </form>
                    {% endfor %}
                </div>
            </div>

            <form class="inlined" action="{{ request.path }}">
                {% if idx == last_idx %}
                    <input class="input" type="submit" value="Seuraavat  &#9193;" disabled>
                {% else %}
                    <input class="input" type="submit" value="Seuraavat {{ count_on_next_idx }}  &#9193;">
                {% endif %}
                <input type="hidden" name="idx" value="{{ idx + 1 }}">
            </form>
        {% endif %}
    </div>

    {% for item in news %}
        <div class="content">
            <h3>{{ item.title }}</h3>

            <hr>
            <div class="flex-fill">
                <div>
                    {{ item.publish_on.strftime("%d.%m.%Y") }}
                </div>
                <div>
                    {% if session.admin %}
                        <form
                            class="inlined" method="post"
                            action="/{{ 'un' if item.archived_at else '' }}archive_news/{{ item.id }}"
                        >
                            {% if item.archived_at %}
                                <input class="input" type="submit" value="&#10006; &#128193;  Peru arkistointi">
                            {% else %}
                                <input class="input" type="submit" value="&#128193;  Arkistoi">
                            {% endif %}
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        </form>
                    {% endif %}

                    <form class="inlined" action="/browse_news/details/{{ item.id }}" method="post">
                        <input class="input" type="submit" value="&#128269;  Lue lisää">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if news|length not in [0, 1, 2, 3] and page_numbers|length not in [0, 1] %}
        <div>
            <form class="inlined" action="{{ request.path }}">
                {% if idx == 0 %}
                    <input class="input" type="submit" value="&#9194;  Edelliset" disabled>
                {% else %}
                    <input class="input" type="submit" value="&#9194;  Edelliset 10">
                {% endif %}
                <input type="hidden" name="idx" value="{{ idx - 1 }}">
            </form>

            <div class="dropdown">
                <input class="input" type="submit" value="⬇️  Siirry sivulle  ⬇️">
                <div class="dropdown-content">
                    {% for page_number in page_numbers %}
                        <form action="{{ request.path }}">
                            {% if page_number == idx + 1 %}
                            <input type="submit" value="{{ page_number }}" disabled>
                            {% else %}
                            <input type="submit" value="{{ page_number }}">
                            {% endif %}
                            <input type="hidden" name="username" value="{{ user_input }}">
                            <input type="hidden" name="idx" value="{{ page_number - 1 }}">
                        </form>
                    {% endfor %}
                </div>
            </div>

            <form class="inlined" action="{{ request.path }}">
                {% if idx == last_idx %}
                    <input class="input" type="submit" value="Seuraavat  &#9193;" disabled>
                {% else %}
                    <input class="input" type="submit" value="Seuraavat {{ count_on_next_idx }}  &#9193;">
                {% endif %}
                <input type="hidden" name="idx" value="{{ idx + 1 }}">
            </form>
        </div>
    {% endif %}
{% endif %}

{% endblock %}
