<!doctype html>

{% extends "layout.html" %}

{% block content %}

<h2>Selaa palautteita</h2>

<form class="inlined" action="/browse_feedback">
    <input
        class="input {{ 'active' if request.path == '/browse_feedback' else '' }}"
        type="submit" value="&#127381;  Uudet"
    >
</form>
<form class="inlined" action="/browse_feedback/acknowledged">
    <input
        class="input {{ 'active' if request.path == '/browse_feedback/acknowledged' else '' }}"
        type="submit" value="&#128065;  Huomioidut"
    >
</form>

{% if session.admin %}
    <form class="inlined" action="/browse_feedback/archived">
        <input
            class="input {{ 'active' if request.path == '/browse_feedback/archived' else '' }}"
            type="submit" value="&#128193;  Arkistoidut"
        >
    </form>
{% endif %}

<form class="inlined" action="/give_feedback">
    <input class="input" type="submit" value="&#10133;  Anna palautetta">
</form>

{% if feedbacks|length == 0 %}
    <div class="content flash">
        {% if request.path == "/browse_feedback/acknowledged" %}
            Ei huomioituja palautteita
        {% elif request.path == "/browse_feedback/archived" %}
            Ei arkistoituja palautteita
        {% else %}
            Ei palautteita
        {% endif %}
    </div>
{% else %}
    <div class="input">
        <div class="caption input">
            Yhteensä {{ count }} {{ 'palaute' if count == 1 else 'palautetta' }}
        </div>

        {% if page_numbers|length not in [0, 1] %}
            <form class="inlined" action="{{ request.path }}">
                {% if idx == 0 %}
                    <input class="input" type="submit" value="&#9194;  Edelliset" disabled>
                {% else %}
                    <input class="input" type="submit" value="&#9194;  Edelliset 10">
                {% endif %}
                <input type="hidden" name="idx" value="{{ idx - 1 }}">
            </form>

            <div class="dropdown">
                <input class="input" type="submit" value="⬇️  Siirry sivulle  ⬇️">
                <div class="dropdown-content">
                    {% for page_number in page_numbers %}
                        <form action="{{ request.path }}">
                            {% if page_number == idx + 1 %}
                            <input type="submit" value="{{ page_number }}" disabled>
                            {% else %}
                            <input type="submit" value="{{ page_number }}">
                            {% endif %}
                            <input type="hidden" name="username" value="{{ user_input }}">
                            <input type="hidden" name="idx" value="{{ page_number - 1 }}">
                        </form>
                    {% endfor %}
                </div>
            </div>

            <form class="inlined" action="{{ request.path }}">
                {% if idx == last_idx %}
                    <input class="input" type="submit" value="Seuraavat  &#9193;" disabled>
                {% else %}
                    <input class="input" type="submit" value="Seuraavat {{ count_on_next_idx }}  &#9193;">
                {% endif %}
                <input type="hidden" name="idx" value="{{ idx + 1 }}">
            </form>
        {% endif %}
    </div>

    {% for feedback in feedbacks %}
        <div class="content">
            <h3>{{ feedback.title }}</h3>

            {% if feedback.body %}
                <div class="flex-fill text">
                    {{ feedback.body }}
                </div>
            {% endif %}

            <hr>
            <div class="flex-fill">
                <div class="inlined with-margin">
                    {{ (feedback.sent_by + " @ ") if session.admin else "" }}
                    {{ feedback.sent_at.strftime("%d.%m.%Y") }}
                </div>

                {% if session.admin and (request.path == "/browse_feedback" or request.path == "/browse_feedback/acknowledged") %}
                    <form
                        class="inlined" method="post"
                        action="/{{ 'acknowledge' if request.path == '/browse_feedback' else 'archive' }}_feedback/{{ feedback.id }}"
                    >
                    {% if request.path == "/browse_feedback" %}
                        <input class="input" type="submit" value="&#128065;  Merkitse huomioiduksi">
                        {% else %}
                        <input class="input" type="submit" value="&#128193;  Arkistoi">
                        {% endif %}
                        <input type="hidden" name="referrer" value="{{ request.path }}">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    </form>
                {% endif %}
            </div>

            {% if request.path == "/browse_feedback/acknowledged" or request.path == "/browse_feedback/archived" %}
                <hr>
                <div class="flex-fill">
                    <div class="inlined with-margin">
                        {% if feedback.acknowledged_at %}
                            {% if session.admin %}
                                Huomioinut: {{ feedback.acknowledged_by if feedback.acknowledged_by else "-" }} @ 
                            {% else %}
                                Huomioitu
                            {% endif %}
                            {{ feedback.acknowledged_at.strftime("%d.%m.%Y %H:%M:%S") if feedback.acknowledged_at else "-" }} 
                        {% endif %}
                    </div>
                    {% if session.admin and request.path == "/browse_feedback/acknowledged" %}
                        <form action="/unacknowledge_feedback/{{ feedback.id }}" method="post">
                            <input class="input" type="submit" value="&#128065;  Peru huomiointi">
                            <input type="hidden" name="referrer" value="{{ request.path }}">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        </form>
                    {% endif %}
                </div>
            {% endif %}

            {% if session.admin and request.path == "/browse_feedback/archived" %}
                <div class="flex-fill">
                    <div>
                        Arkistoinut: {{ feedback.archived_by if feedback.archived_by else "-" }} @ 
                        {{ feedback.archived_at.strftime("%d.%m.%Y %H:%M:%S") if feedback.archived_at else "-" }}
                    </div>
                    <form
                        method="post"
                        action="/{{ 'un' if feedback.archived_at else '' }}archive_feedback/{{ feedback.id }}"
                    >
                        <input
                            class="input" type="submit"
                            value="&#128193;  {{ 'Peru arkistointi' if feedback.archived_at else 'Arkistoi' }}"
                        >
                        <input type="hidden" name="referrer" value="{{ request.path }}">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    </form>
                </div>
            {% endif %}
        </div>
    {% endfor %}

    {% if feedbacks|length not in [0, 1, 2, 3] and page_numbers|length not in [0, 1] %}
        <div>
            <form class="inlined" action="{{ request.path }}">
                {% if idx == 0 %}
                    <input class="input" type="submit" value="&#9194;  Edelliset" disabled>
                {% else %}
                    <input class="input" type="submit" value="&#9194;  Edelliset 10">
                {% endif %}
                <input type="hidden" name="idx" value="{{ idx - 1 }}">
            </form>

            <div class="dropdown">
                <input class="input" type="submit" value="⬇️  Siirry sivulle  ⬇️">
                <div class="dropdown-content">
                    {% for page_number in page_numbers %}
                        <form action="{{ request.path }}">
                            {% if page_number == idx + 1 %}
                            <input type="submit" value="{{ page_number }}" disabled>
                            {% else %}
                            <input type="submit" value="{{ page_number }}">
                            {% endif %}
                            <input type="hidden" name="username" value="{{ user_input }}">
                            <input type="hidden" name="idx" value="{{ page_number - 1 }}">
                        </form>
                    {% endfor %}
                </div>
            </div>

            <form class="inlined" action="{{ request.path }}">
                {% if idx == last_idx %}
                    <input class="input" type="submit" value="Seuraavat  &#9193;" disabled>
                {% else %}
                    <input class="input" type="submit" value="Seuraavat {{ count_on_next_idx }}  &#9193;">
                {% endif %}
                <input type="hidden" name="idx" value="{{ idx + 1 }}">
            </form>
        </div>
    {% endif %}

{% endif %}

{% endblock %}
