<!doctype html>

{% extends "layout.html" %}

{% block content %}

<h2>Selaa ilmoituksia</h2>

<!--
    TODO:
    - admins can assign statuses (acknowledged, in progress, completed, archived)
    - allow filtering:
        - status
        - time
        - zip code
    - allow users to support notices
-->

<form style="display: inline-block;" action="/browse_notices">
    {% if request.path == "/browse_notices" %}
    <input class="input active" type="submit" value="Kaikki" />
    {% else %}
    <input class="input" type="submit" value="Kaikki" />
    {% endif %}
</form>

<form style="display: inline-block;" action="/browse_notices/my">
    {% if request.path == "/browse_notices/my" %}
    <input class="input active" type="submit" value="Omat" />
    {% else %}
    <input class="input" type="submit" value="Omat" />
    {% endif %}
</form>

<form style="display: inline-block;" action="/add_notice">
    <input class="input" type="submit" value="Lisää ilmoitus" />
</form>

{% if notices|length == 0 %}

<div class="content flash">
    {% if request.path == "/browse_notices/my" %}
    Ei omia ilmoituksia
    {% else %}
    Ei ilmoituksia
    {% endif %}
</div>

{% else %}

{% for notice in notices %}
    <div class="content">
        <h3>"{{ notice.title }}"</h3>
        <p>"{{ notice.body }}"</p>

        {% if notice.street_address %}
        <p>Katuosoite: {{ notice.street_address }}</p>
        {% endif %}

        {% if notice.zip_code %}
        <p>Postinumero: {{ notice.zip_code }}</p>
        {% endif %}

        <hr>
        <p>{{ notice.created_by }} @ {{ notice.created_at.strftime("%d.%m.%Y %H:%M:%S") }}</p>
    </div>
{% endfor %}

{% endif %}

{% endblock %}
