<!doctype html>

{% extends "layout.html" %}

{% block content %}

<h2>Vaihda salasana</h2>

<form class="inlined" action="/profile">
    <input class="input" type="submit" value="Takaisin">
</form>

<div class="content form">
    <form action="/change_password" method="post">
        <br>
        <label for="current">Nykyinen salasana</label>
        <br>
        <input class="input text" type="password" id="current" name="current" minlength="6" maxlength="50" value="{{ current }}">
        <br>
        <br>
        <label for="new">Uusi salasana</label>
        <br>
        <input class="input text" type="password" id="new" name="new" minlength="6" maxlength="50" value="{{ new }}">
        <br>
        <input class="input" type="submit" value="Vahvista">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <br>
    </form>
</div>

{% endblock %}
