<!doctype html>

{% extends "layout.html" %}

{% block content %}

<h1>Palaute</h1>

<!--
    TODO:
    - Sending:
        - for all users
        - inputs:
            - title (required, string)
            - body text (optional, string)
        - save also:
            - created at (required, timestamp)
            - creator username (required, string)
    - Browsing:
        - only for admins
        - maybe allow admins to mark feedback as acknowledged (if so, save as timestamp)
-->

<a href="/">Etusivulle</a>

{% endblock %}
