<!doctype html>

{% extends "layout_with_flashes.html" %}

{% block content %}

<h2>Anna palautetta</h2>

<div class="form">

<form action="/give_feedback" method="post">
    <label for="title">Otsikko:</label>
    <br>
    <textarea class="input" id="title" name="title" rows="4" cols="80" minlength="1" maxlength="100"></textarea>
    <br>

    <br>
    <label for="body">Tarkempi kuvaus (vapaaehtoinen):</label>
    <br>
    <textarea class="input" id="body" name="body" rows="12" cols="80" maxlength="1000"></textarea>
    <br>

    <input type="submit" value="Lähetä">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

</div>

{% endblock %}
