<!doctype html>

{% if session.user_id %}
{% extends "layout.html" %}
{% else %}
{% extends "layout_with_flashes.html" %}
{% endif %}

{% block content %}

<center>

{% if not session.user_id %}

<div class="form">
    <h2>Kirjaudu sisään</h2>

    <form action="/login" method="post">
        <label for="username">Käyttäjänimi</label>
        <br>
        <input class="input text-small" type="text" id="username" name="username" minlength="6" maxlength="50">
        <br>

        <br>
        <label for="username">Salasana</label>
        <br>
        <input class="input text-small" type="password" id="password" name="password" minlength="6" maxlength="50">
        <br>

        <input class="input" type="submit" value="Kirjaudu">
        <br>
    </form>

    <br>
    <hr>
    <br>

    Ei tunnuksia?
    <br>
    <form action="/register">
        <input class="input" type="submit" value="Rekisteröidy" />
    </form>
</div>

{% endif %}

{% if session.is_admin %}

<br>
<br>
<a href="/add_news">Lisää uutinen</a>
<br>
<a href="/add_notice">Lisää ilmoitus</a>
<br>
<a href="/add_poll">Lisää kysely</a>
<br>
<br>
<a href="/browse_feedback">Selaa palautteita</a>
<br>
<br>
<a href="/manage_users">Hallinnoi käyttäjätilejä</a>

{% endif %}

</center>

{% endblock %}
