<!doctype html>

{% extends "layout.html" %}

{% block content %}

<h1>Etusivu</h1>

<!--
    TODO:
    - If not logged in:
        - force login
    - If logged in:
        - Newest news, plus button to see more
        - Newest poll, plus button to see more
        - Recent notices, plus button to see more
-->

<a href="/login">Kirjaudu sisään</a>
<a href="/register">Rekisteröidy</a>

<a href="/news">Uutiset</a>
<a href="/notices">Ilmoitukset</a>
<a href="/polls">Kyselyt</a>

<a href="/profile">Käyttäjäprofiili</a>
<a href="/feedback">Palaute</a>

<a href="/add_news">Luo uutinen</a>
<a href="/add_notice">Luo ilmoitus</a>
<a href="/add_poll">Luo kysely</a>

<a href="/registered_users">Käyttäjät</a>

{% endblock %}
