<!doctype html>

<link rel="stylesheet" href="/static/main.css">

<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Oma Kaupunki</title>

<center>

<div class="header">

<h1>Oma Kaupunki</h1>

{% if session.user_id %}

<ul class="nav-bar">
    <li class="nav-bar-button">
        {% if request.path == "/browse_news" or request.path == "/add_news" %}
        <a class="nav-bar-button-active" href="/browse_news">Uutiset</a>
        {% else %}
        <a href="/browse_news">Uutiset</a>
        {% endif %}
    </li>

    <li class="nav-bar-button">
        {% if request.path == "/browse_notices" or request.path == "/add_notice" %}
        <a class="nav-bar-button-active" href="/browse_notices">Ilmoitukset</a>
        {% else %}
        <a href="/browse_notices">Ilmoitukset</a>
        {% endif %}
    </li>

    <li class="nav-bar-button">
        {% if request.path == "/browse_polls" or request.path == "/add_poll" %}
        <a class="nav-bar-button-active" href="/browse_polls">Kyselyt</a>
        {% else %}
        <a href="/browse_polls">Kyselyt</a>
        {% endif %}
    </li>

    <li class="nav-bar-button">
        {% if request.path == "/browse_feedback" or request.path == "/give_feedback" %}
        <a class="nav-bar-button-active" href="/browse_feedback">Palautteet</a>
        {% else %}
        <a href="/browse_feedback">Palautteet</a>
        {% endif %}
    </li>

    {% if session.is_admin %}

    <li class="nav-bar-button">
        {% if request.path == "/manage_users" %}
        <a class="nav-bar-button-active" href="/manage_users">Käyttäjät</a>
        {% else %}
        <a href="/manage_users">Käyttäjät</a>
        {% endif %}
    </li>

    {% endif %}

    <li class="nav-bar-button">
        {% if request.path == "/profile" %}
        <a class="nav-bar-button-active" href="/profile">Profiilini</a>
        {% else %}
        <a href="/profile">Profiilini</a>
        {% endif %}
    </li>

</ul>

{% endif %}

</div>

{% block content %}{% endblock %}

{% block flashes %}{% endblock %}

</center>
