<!doctype html>

{% extends "layout.html" %}

{% block content %}

<center>

<h1>Kirjaudu sisään</h1>

<form action="/login" method="post">
  Käyttäjänimi
    <br>
    <input type="text" name="username" minlength="6" maxlength="50">
    <br>
    <br>
  
  Salasana
    <br>
    <input type="password" name="password" minlength="6" maxlength="50">
    <br>
    <br>

    <input type="submit" value="Kirjaudu">
    <br>
    <br>
</form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

Ei tunnuksia?
<br>
<a href="/register">Rekisteröidy tästä</a>

<br>
<br>

<a href="/">Etusivulle</a>

</center>

{% endblock %}
