<!doctype html>

{% extends "layout_with_flashes.html" %}

{% block content %}

<h2>Kirjaudu sisään</h2>

<form action="/login" method="post">
    <label for="username">Käyttäjänimi</label>
    <br>
    <input class="form-input text-small" type="text" id="username" name="username" minlength="6" maxlength="50">
    <br>
    <br>
  
    <label for="username">Salasana</label>
    <br>
    <input class="form-input text-small" type="password" id="password" name="password" minlength="6" maxlength="50">
    <br>

    <input class="form-input" type="submit" value="Kirjaudu">
    <br>
</form>

<br>
Ei tunnuksia?
<br>
<form action="/register">
    <input class="form-input" type="submit" value="Rekisteröidy" />
</form>
<br>
<form action="/">
    <input type="submit" value="Etusivulle" />
</form>
<br>

</center>

{% endblock %}
