<!doctype html>

{% extends "layout_with_flashes.html" %}

{% block content %}

<h2>Hallinnoi käyttäjätilejä</h2>

{% if session.is_admin %}

{% for user in users %}

    <div class="content user">

        {{ user.name }}

        {% if user.disabled_at %}

        <div>
            (poistettu käytöstä)
        </div>

        {% else %}

            {% if user.id != session.user_id %}

            <form action="/disable_user/{{ user.id }}" method="post">
                <input type="submit" value="Poista käytöstä" >
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>

            {% endif %}

        {% endif %}

    </div>

{% endfor %}



{% endif %}

{% endblock %}
