<!doctype html>

{% extends "layout.html" %}

{% block content %}

<h2>Hallinnoi käyttäjätilejä</h2>

{% if session.is_admin %}

{% for user in users %}

    <div class="content user">

        {{ user.name }}

        {% if user.disabled_at %}

            {% if user.id != session.user_id %}

            <div>
                <div class="inlined" style="font-size: small; margin-right: 10px;">
                    Poistettu käytöstä {{ user.disabled_at.strftime("%d.%m.%Y %H:%M:%S") }}
                </div>

                <form class="inlined" action="/enable_user/{{ user.id }}" method="post">
                    <input type="submit" value="Ota käyttöön" >
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                </form>
            </div>

            {% endif %}

        {% else %}

            {% if user.id != session.user_id %}

            <form action="/disable_user/{{ user.id }}" method="post">
                <input type="submit" value="Poista käytöstä" >
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>

            {% endif %}

        {% endif %}

    </div>

{% endfor %}

{% endif %}

{% endblock %}
