<!doctype html>

{% extends "layout.html" %}

{% block content %}

{% if session.admin %}
    <form class="inlined" action="/{{ 'un' if item.archived_at else '' }}archive_news/{{ item.id }}" method="post">
        {% if item.archived_at %}
            <input class="input" type="submit" value="&#10006; &#128193;  Peru arkistointi">
        {% else %}
            <input class="input" type="submit" value="&#128193;  Arkistoi">
        {% endif %}
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
{% endif %}

<form class="inlined" action="{{ session.referrer }}">
    <input class="input" type="submit" value="⬅️  Selaa uutisia">
</form>

<div class="content">
    <h3>{{ item.title }}</h3>

    {% if item.body %}
        <div class="flex-fill text">
            {{ item.body }}
        </div>
    {% endif %}

    <hr>
    <div class="flex-fill text">
        <div>
            {{ (item.created_by + " @ ") if session.admin else "" }}
            {{ item.publish_on.strftime("%d.%m.%Y") }}
        </div>
        <div>
            {% if item.total_views == 0 or item.total_views == 1 %}
                {{ item.total_views }} {{ 'katselukerta' if item.total_views == 1 else 'katselukertaa' }}
            {% else %}
                {{ item.total_views }} katselukertaa | 
                {{ item.unique_views }} {{ 'katselija' if item.unique_views == 1 else 'katselijaa' }}
            {% endif %}
        </div>
    </div>

    {% if session.admin and item.archived_at %}
        <hr>
        <div class="flex-fill text">
            Arkistoinut: {{ item.archived_by or "-" }} @ 
            {{ item.archived_at.strftime("%d.%m.%Y %H:%M:%S") }}
        </div>
    {% endif %}
</div>

{% endblock %}
