<!doctype html>

{% extends "layout.html" %}

{% block content %}

<h2>Profiilini</h2>

<form class="inlined" action="/delete_account">
    <input class="input" type="submit" value="&#128163;  Poista käyttäjätili">
</form>

<form class="inlined" action="/change_password">
    <input class="input" type="submit" value="&#128272;  Vaihda salasana">
</form>

<form class="inlined" action="/logout">
    <input class="input" type="submit" value="&#128682;  Kirjaudu ulos">
</form>

<div class="content form">
    <br>
    <form action="/update_date_of_birth" method="post">
        <label class="label" for="date_of_birth">Syntymäaika</label>
        <br>
        <div class="flex-fill">
            <input class="input text" type="date" id="date_of_birth" name="date_of_birth" value="{{ session.date_of_birth }}" max="{{ max_date }}">
            <div class="spacer horizontal"></div>
            <div>
                <input class="input" type="submit" value="&#128190;  Tallenna">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </div>
        </div>
    </form>
    <div class="spacer vertical"></div>
    <hr>
    <br>
    <form action="/update_gender" method="post">
        <label for="gender">Sukupuoli</label>
        <br>
        <div class="flex-fill">
            <div class="radio-button-group">
                <div class="radio-button">
                    {% if session.gender == "female" %}
                        <input type="radio" id="female-checked" name="gender" value="female" checked>
                        <label for="female-checked">nainen</label>
                    {% else %}
                        <input type="radio" id="female" name="gender" value="female">
                        <label for="female">nainen</label>
                    {% endif %}
                </div>
                <div class="radio-button">
                    {% if session.gender == "male" %}
                        <input type="radio" id="male-checked" name="gender" value="male" checked>
                        <label for="male-checked">mies</label>
                    {% else %}
                        <input type="radio" id="male" name="gender" value="male">
                        <label for="male">mies</label>
                    {% endif %}
                </div>
                <div class="radio-button">
                    {% if session.gender == "other" %}
                        <input type="radio" id="other-checked" name="gender" value="other" checked>
                        <label for="other-checked">muu</label>
                    {% else %}
                        <input type="radio" id="other" name="gender" value="other">
                        <label for="other">muu</label>
                    {% endif %}
                </div>
                <div class="radio-button">
                    {% if session.gender not in genders %}
                        <input type="radio" id="none-checked" name="gender" value="" checked>
                        <label for="none-checked">en kerro</label>
                    {% else %}
                        <input type="radio" id="none" name="gender" value="">
                        <label for="none">en kerro</label>
                    {% endif %}
                </div>
            </div>
            <div class="spacer horizontal"></div>
            <div>
                <input class="input" type="submit" value="&#128190;  Tallenna">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </div>
        </div>
    </form>
    <div class="spacer vertical small"></div>
    <hr>
    <br>
    <form action="/update_zip_code" method="post">
        <label for="zip_code">Postinumero</label>
        <br>
        <div class="flex-fill">
            <input class="input text" type="number" id="zip_code" name="zip_code" maxlength="5" value="{{ session.zip_code }}">
            <div class="spacer horizontal"></div>
            <div>
                <input class="input" type="submit" value="&#128190;  Tallenna">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </div>
        </div>
    </form>
    <div class="spacer vertical"></div>
    <hr>
    <br>
    <form action="/update_admin_status" method="post">
        <label for="admin">Ylläpitäjä</label>
        <br>
        <div class="flex-fill">
            <div class="radio-button-group">
                <div class="radio-button">
                    {% if session.admin %}
                        <input type="radio" id="yes-checked" name="admin" value="yes" checked>
                        <label for="yes-checked">kyllä</label>
                    {% else %}
                        <input type="radio" id="yes" name="admin" value="yes">
                        <label for="yes">kyllä</label>
                    {% endif %}
                </div>
                <div class="radio-button">
                    {% if not session.admin %}
                        <input type="radio" id="no-checked" name="admin" value="no" checked>
                        <label for="no-checked">ei</label>
                    {% else %}
                        <input type="radio" id="no" name="admin" value="no">
                        <label for="no">ei</label>
                    {% endif %}
                </div>
            </div>
            <div class="spacer horizontal"></div>
            <div>
                <input class="input" type="submit" value="&#128190;  Tallenna">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </div>
        </div>
    </form>
    <hr>
    <form class="inlined" action="/profile">
        <input class="input" type="submit" value="&#128465;  Peru tallentamattomat muutokset">
    </form>
</div>

{% endblock %}
