<!doctype html>

{% extends "layout_with_flashes.html" %}

{% block content %}

<h1>Käyttäjäprofiili</h1>

<!--
    TODO:
    - allow editing:
        - date of birth
        - gender
        - zip code
        - admin status?
    - show list of created notices
-->

<a href="/logout">Kirjaudu ulos</a>

<br>
<br>

{% if session.user_id %}

<form action="/delete_current_user" method="post">

<button name="user_id" value="{{ session.user_id }}" type="submit">Poista käyttäjätili</button>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>

<br>
<br>

{% endif %}

<a href="/">Etusivulle</a>

{% endblock %}
