<!doctype html>

{% extends "layout_with_flashes.html" %}

{% block content %}

<h2>Profiilini</h2>

<div class="content form">

    {% if session.user_id %}

    <form action="/update_profile" method="post">
        <p>
            Voit täyttää vain ne tiedot, jotka haluat muuttaa.
            <br>
            Tyhjäksi jätetyt kentät säilyvät ennallaan (paitsi ylläpitäjän rooli).
        </p>
        <br>
        
        <label for="date_of_birth">Syntymäaika: {{ session.date_of_birth }}</label>
        <br>
        <input class="input text-small" type="date" id="date_of_birth" name="date_of_birth">
        <br>
        <br>

        <label for="gender">Sukupuoli: {{ gender }}</label>
        <div class="radio-button-group">
            <div class="radio-button">
                <input type="radio" id="female" name="gender" value="female">
                <label for="female">nainen</label>
            </div>
            <br>
            <div class="radio-button">
                <input type="radio" id="male" name="gender" value="male">
                <label for="male">mies</label>
            </div>
            <br>
            <div class="radio-button">
                <input type="radio" id="other" name="gender" value="other">
                <label for="other">muu</label>
            </div>
        </div>
        <br>

        <label for="zip_code">Postinumero: {{ session.zip_code }}</label>
        <br>
        <input class="input text-small" type="number" id="zip_code" name="zip_code" maxlength="5">
        <br>
        <br>

        <label for="is_admin">Ylläpitäjä: {{ is_admin }}</label>
        <br>
        <input class="input" type="checkbox" id="is_admin" name="is_admin">
        <br>

        <input class="input" type="submit" value="Päivitä tiedot">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>

    <hr>

    <form action="/delete_current_user" method="post">

    <button class="input" name="user_id" value="{{ session.user_id }}" type="submit">Poista käyttäjätili</button>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

    </form>

    <form action="/logout">
        <input class="input" type="submit" value="Kirjaudu ulos" />
    </form>

    {% endif %}
</div>

{% endblock %}
