<!doctype html>

{% extends "layout.html" %}

{% block content %}

<div class="content form login">
    <h2>Rekisteröidy</h2>
    <br>
    <form action="/register" method="post">
        <div class="flex-fill">
            <div>
                <label for="username">Käyttäjänimi</label>
                <div class="caption">(6-50 merkkiä)</div>
                <input class="input text" type="text" id="username" name="username" minlength="6" maxlength="50" value="{{ username }}">
            </div>
            <div>
                <label for="password">Salasana</label>
                <div class="caption">(väh. 6 merkkiä)</div>
                <input class="input text" type="password" id="password" name="password" minlength="6" maxlength="50" value="{{ password }}">
            </div>
        </div>
        <br>
        <br>
        <div class="flex-fill">
            <div>
                <label for="date_of_birth">Syntymäaika</label>
                <div class="caption">(vapaaehtoinen)</div>
                <input class="input text" type="date" id="date_of_birth" name="date_of_birth" max="{{ max_date }}" value="{{ date_of_birth }}">
            </div>
            <div>
                <label for="zip_code">Postinumero</label>
                <div class="caption">(vapaaehtoinen)</div>
                <input class="input text" type="number" id="zip_code" name="zip_code" maxlength="5" value="{{ zip_code }}">
            </div>
        </div>
        <br>
        <br>
        <label for="gender">Sukupuoli</label>
        <div class="radio-button-group">
            <div class="radio-button">
                {% if gender == "female" %}
                    <input type="radio" id="female-checked" name="gender" value="female" checked>
                    <label for="female-checked">nainen</label>
                {% else %}
                    <input type="radio" id="female" name="gender" value="female">
                    <label for="female">nainen</label>
                {% endif %}
            </div>
            <div class="radio-button">
                {% if gender == "male" %}
                    <input type="radio" id="male-checked" name="gender" value="male" checked>
                    <label for="male-checked">mies</label>
                {% else %}
                    <input type="radio" id="male" name="gender" value="male">
                    <label for="male">mies</label>
                {% endif %}
            </div>
            <div class="radio-button">
                {% if gender == "other" %}
                    <input type="radio" id="other-checked" name="gender" value="other" checked>
                    <label for="other-checked">muu</label>
                {% else %}
                    <input type="radio" id="other" name="gender" value="other">
                    <label for="other">muu</label>
                {% endif %}
            </div>
            <div class="radio-button">
                {% if gender not in ["female", "male", "other"] %}
                    <input type="radio" id="none-checked" name="gender" value="" checked>
                    <label for="none-checked">en kerro</label>
                {% else %}
                    <input type="radio" id="none" name="gender" value="">
                    <label for="none">en kerro</label>
                {% endif %}
            </div>
        </div>
        <br>        
        <label for="admin">Ylläpitäjä</label>
        <div class="radio-button-group">
            <div class="radio-button">
                {% if admin %}
                    <input type="radio" id="yes-checked" name="admin" value="yes" checked>
                    <label for="yes-checked">kyllä</label>
                {% else %}
                    <input type="radio" id="yes" name="admin" value="yes">
                    <label for="yes">kyllä</label>
                {% endif %}
            </div>
            <br>
            <div class="radio-button">
                {% if not admin %}
                    <input type="radio" id="no-checked" name="admin" value="no" checked>
                    <label for="no-checked">ei</label>
                {% else %}
                    <input type="radio" id="no" name="admin" value="no">
                    <label for="no">ei</label>
                {% endif %}
            </div>
        </div>
        <br>
        <input class="input" type="submit" value="+&#128100;  Rekisteröidy">
    </form>
    <hr>
    <form action="/">
        <input class="input" type="submit" value="⬅️  Takaisin">
    </form>
</div>

{% endblock %}
