<!doctype html>

{% extends "layout.html" %}

{% block content %}

<h1>Rekisteröidy</h1>

<!--
    TODO:
    - for basic users only (admins should perhaps be hard-coded)
    - inputs:
        - unique username (required, string)
        - password (required, string)
        - birthday (optional, date)
        - gender (optional, string)
        - zip code (optional, number)
    - allow filtering
        - time
        - zip code
    - responding only with thumb up / down
    - show respondent analytics of individual polls
        - age
        - gender
        - zip code
-->

<a href="/">Etusivulle</a>

{% endblock %}
